<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>179059</string>
	<key>ClientSecret</key>
	<string>e16616618381b1654fe3215773dbc62f9099e069</string>
</dict>
</plist>
